
@import url('https://fonts.googleapis.com/css?family=Work+Sans');

body {
    background-color: #092973; 
    font-family: 'Work Sans',sans-serif;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

/*
Index2.html styles
*/
.nav-link {
    color: #092973;
}

#titelbild {
    max-width: 200px;
}
.img-responsive {
    max-width: 80%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#myCanvas {
    border: 2px;
    border:1px solid white;
}