
@import url('https://fonts.googleapis.com/css?family=Work+Sans');

body {
    background-color: #092973; 
    font-family: 'Work Sans',sans-serif;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

/*
Index2.html styles
*/
.nav-link {
    color: #092973;
}

#titelbild {
    max-width: 200px;
}
.img-responsive {
    max-width: 80%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#myCanvas {
    background-color: white;
    color: #092973;
}

#pc24-pic {
    max-width: 100%;
    vertical-align: middle;
    float: left;
}

.d-block .w-100 {
    min-width: 100%;
}
.carousel-caption .d-none .d-md-block {
    color: black;
}

canvas {
    margin: auto;
    display: block;
    width: 100%;
    height: auto;
  }

  /*
  Style for toggle switch
  */
   /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  

  .btn {
    color: #092973;
    background-color: white;
  }

  #myCarousel {
    margin-top: 40px;
    
  }
  
  .item {
    border:1px solid #eee;
    width:320px;
    height:190px;
    margin:0 auto;
    padding:10px;
  }

  .carousel-caption h5 p {
    color: #092973;
}