
@import url('https://fonts.googleapis.com/css?family=Work+Sans');

body {
    background-color: #092973; 
    font-family: 'Work Sans',sans-serif;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

/*
Index2.html styles
*/
.nav-link {
    color: #092973;
}

#titelbild {
    max-width: 200px;
}
.img-responsive {
    max-width: 80%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#myCanvas {
    background-color: white;
    color: #092973;
}

#pc24-pic {
    max-width: 100%;
    vertical-align: middle;
    float: left;
}

.d-block .w-100 {
    min-width: 100%;
}
.carousel-caption .d-none .d-md-block {
    color: black;
}

/*

#home, #technical-details, #kontakt {
    background-color: #092973;
    color: white;
}

#pc-24, #fotos, #canvas {
    background-color: white;
    color: #092973;
} */